

<div *ngIf="!isLoadingCart && cartItems.length > 0" class="cart_wrapper">

  <div class="cart_items">
    <div class="cart_header">

      <h2 class="title">
        Shopping Cart
      </h2>

    </div>
    <table class="cart_table">
      <tr class="cart_table_header">
        <th width="300px" align="left">Product</th>
        <th width="80px" align="left">Price</th>
        <th width="80px" align="left">Quantity</th>
        <th width="80px" align="left">Subtotal</th>
      </tr>
      <tr *ngFor="let cartItem of cartItems; let i = index">
        <td class="product_column">
          <div>
            <button (click)="remove(i)" class="delete-btn">
            <span class="material-icons">
              close
            </span>
            </button>
          </div>
          <img class="product-img" src="{{cartItem.product.images[0]}}" alt="">
          <a class="product-title" routerLink="/product/{{cartItem.product.shortCut}}">{{cartItem.product.title}}</a>
        </td>

        <td>
          <span class="price">{{cartItem.product.price | currency}}</span>
        </td>


        <td>
          <div class="qty-counter">
            <button (click)="decrease(i)" class="qty-counter__bt">
              <i class="material-icons">
                remove
              </i>
            </button>
            <span class="qty-counter__value">{{cartItem.quantity}}</span>
            <button (click)="increase(i)" class="qty-counter__bt">
              <i class="material-icons">
                add
              </i>
            </button>
          </div>
        </td>


        <td>
          <span style="display: block; width: 35px" class="price">{{cartItem.product.price * cartItem.quantity | currency}}</span>
        </td>


      </tr>
    </table>
    <div class="cart_actions">
      <button (click)="clearCart()" style="margin-left: auto" class="bt-primary">Clear Cart</button>
      <button (click)="updateCart()" class="bt-primary">Update Cart</button>
    </div>


    <div *ngIf="isUpdating" class="updating">
      <app-spinner color="#000000" style="transform: scale(2)"></app-spinner>
    </div>

  </div>

  <div class="cart_total">
    <div class="cart_header">

      <h2 class="title">
        Cart totals
      </h2>

    </div>

    <div class="cart_total_item">
      <span class="cart_total_item_name">Subtotal</span>
      <span class="cart_total_item_price">{{subTotal | currency}}</span>
    </div>

    <div class="cart_total_item">
      <span class="cart_total_item_name">Shipping</span>
      <span class="cart_total_item_price">(Not calculated yet)</span>
    </div>

    <div class="cart_total_item">
      <span class="cart_total_item_name">VAT</span>
      <span class="cart_total_item_price">{{13 | currency}}</span>
    </div>

    <div class="cart_total_item">
      <span class="cart_total_item_name">Total</span>
      <span class="cart_total_item_price">{{subTotal + 13 | currency}}</span>
    </div>

    <button routerLink="/checkout" class="bt-primary checkout-btn">PROCEED TO CHECKOUT</button>

    <div *ngIf="isUpdating" class="updating">
      <app-spinner color="#000000" style="transform: scale(2)"></app-spinner>
    </div>

  </div>

</div>

<div *ngIf="!isLoadingCart && cartItems.length == 0" class="cart_empty">

  <p>Your cart is currently empty.</p>
  <button routerLink="/" class="bt-primary">Return To Shop</button>
</div>


<div style="height: 450px; display: flex; align-items: center; justify-content: center" *ngIf="isLoadingCart">
  <span class="dots-loader"></span>
</div>
