
.cart_header {
  margin: 30px 0;
  font-weight: 500;
}

.cart_header .title {
  margin: 15px 0 0 0;
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
}

.cart_wrapper {
  display: flex;
  position: relative;
}

.cart_empty {
  color: var(--text-secondary);
  padding: 40px 0 70px 0;
}

.cart_empty .bt-primary {
  font-size: 15px;
  margin-top: 20px;
  padding: 11px 18px;
}

.cart_items {
  width: 67%;
  margin-right: 70px;
  position: relative;
}

.updating {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart_items .cart_table {
  width: 100%;
  border-collapse: collapse;
}

.cart_items .cart_table .cart_table_header {
  border-bottom: 2px #EEEEEE solid;
}

.cart_items .cart_table .cart_table_header th {
  font-size: 15px;
  font-weight: 500;
  padding: 7px 0;
}

.cart_items .cart_table tr {
  border-bottom: 1px #EEEEEE solid;
}

.cart_items .cart_table .product_column {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 13px 0;
}

.cart_items .cart_table .product_column .delete-btn {
  background: #cdcccc;
  color: white;
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 50%;
  transition: 0.3s background-color;
  cursor: pointer;
}

.cart_items .cart_table .product_column .delete-btn .material-icons {
  font-size: 15px;
}

.cart_items .cart_table .product_column .delete-btn:hover {
  background: #323131;
}

.cart_items .cart_table .product_column .product-title {
  color: var(--text-secondary);
  text-decoration: none;
  transition: 0.3s color;
  font-size: 15px;
  padding-right: 20px;
}

.cart_items .cart_table .product_column .product-title:hover {
  color: var(--secondary);
}

.cart_items .cart_table .product_column .product-img {
  width: 80px;
  margin: 0 12px;
}


.cart_items .cart_table .price {
  color: var(--secondary);
  font-size: 14px;
  margin-right: 20px;
}

.qty-counter {
  display: flex;
  max-width: 100px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #3f3f3f36;
  padding: 0.3em 0.4em;
  border-radius: 5px;
  width: 100px;
  margin-right: 15px;
}

.qty-counter__bt {
  background: transparent;
  border: 0;
  color: #3f3f3fb5;
  display: flex;
  font-size: 15px;
  align-items: center;
  transition: color 0.3s ease 0s;
  cursor: pointer;
}

.qty-counter__bt:hover {
  color: var(--text-primary);
}

.qty-counter__value {
  font-size: 14px;
}


.cart_actions {
  display: flex;
  align-items: center;
}

.cart_actions .bt-primary {
  padding: 13px 25px;
  margin: 10px 15px;
}


.cart_total {
  width: 37%;
  position: relative;
}

.cart_total_item {
  padding: 21px 0;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  border-bottom: #eeeeee 1px solid;
}

.cart_total_item_name {
  font-size: 16px;
}

.cart_total_item_price {
  font-size: 14px;
  margin-left: auto;
}


.checkout-btn {
  width: 100%;
  padding: 17px 0;
}

@media (max-width: 1000px) {

  .cart_wrapper {
    flex-wrap: wrap;
  }

  .cart_items {
    width: 100%;
    margin-right: 0;
  }

  .cart_total {
    width: 100%;
  }
}
