.card {
  margin: 0 20px 20px;
}

.card.card__list {
  display: flex;
  margin: 20px 0;
}

.card__list .card__header {
  margin-right: 20px;
}

.card__header {
  position: relative;
  overflow: hidden;
}

.card__list .card__img {
  width: 200px;
  height: auto;
}

.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

/* ITEM BODY */
.card__body {
  margin: 0.5em 0;
}

.card__body__title {
  text-decoration: none;
  color: #0066c0;
  transition: all 0.3s ease 0s;
  font-size: 15px;
}

.card__body__title:hover {
  color: var(--secondary);
}

.card__price {
  margin: 1.2em 0;
  color: var(--text-primary);
  font-size: 15px;
  font-weight: 500;
}

/* BUTOONS and tag */
.bt-primary.card__bt {
  padding: 0.6em 1em;
  border: 0;
  border-radius: 2px;
  background: var(--secondary);
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  height: 38px;
}

.card__header .card__bt {
  position: absolute;
  bottom: -100px;
  border-radius: 0;
  width: 100%;
  font-size: 15px!important;
}

.card:hover .card__bt,
.card .card__bt:focus {
  bottom: 0;
}



.fav-bt:hover {
  color: #fff;
  background: var(--secondary);
  border-color: var(--secondary);
}

.card:hover .fav-bt {
  right: 10px;
}

.fav-bt .material-icons {
  font-size: 20px;
  margin-top: 1px;
}

.card__tag {
  background: var(--red);
  color: #fff;
  padding: 0.4em 0.8em;
  border-radius: 3px;
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 10px;
}



.fav-bt {
  border: 1px solid #ebebeb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2d2d2db3;
  padding: 0.6em;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: -50px;
  transition: all 0.3s ease 0s;
}

.card__list .fav-bt {
  position: static;
}

