
<div class="form">
  <h3 class="form__header">Shipping Methods</h3>

  <ng-template ngFor let-i="index" let-item [ngForOf]="orderItems">
    <div class="divider"></div>
    <app-select-shipping-modal (closeModal)="showSelectShippingModal(-1)" [orderItem]="orderItems[i]" *ngIf="selectShippingModal === i"></app-select-shipping-modal>
    <div class="order-item">
      <div class="item-img-holder">
        <img class="item-img" alt="" src="{{item.cartItem.product.images[0]}}">
      </div>
      <div class="item-body">
        <div class="item-info">
          <span routerLink="/product/{{item.cartItem.product.shortCut}}" class="product-title">{{item.cartItem.product.title}}</span>
          <span class="product-price">{{item.cartItem.product.price | currency}}</span>
        </div>
        <div class="item-details">
          <span class="item-quantity">Quantity: {{item.cartItem.quantity}}</span>
          <div style="margin-left: auto; display: flex; align-items: center">
            <span *ngIf="triedToSubmit && item.shippingMode == null" class="required-error">Required*</span>
            <button *ngIf="orderItems[i].shippingMode == null" (click)="showSelectShippingModal(i)" class="bt-primary select-shipping-btn">
              Select a shipping method
            </button>
          </div>
          <span *ngIf="orderItems[i].shippingMode != null" (click)="showSelectShippingModal(i)" class="selected-shipping-method select-shipping-btn">
            {{orderItems[i].shippingMode.mode}}: {{orderItems[i].shippingMode.price.min.moneyAmount.amount | currency}}
            <span class="material-icons">
              expand_more
            </span>
          </span>
        </div>
      </div>

    </div>

  </ng-template>

  <div class="submit-buttons">
    <button (click)="back.emit()" class="bt-primary back">
      <i class="material-icons-outlined">
        keyboard_backspace
      </i>
    </button>
    <button (click)="submitShippingMethods()" class="bt-primary">
      Continue
    </button>
  </div>
</div>


