
<div class="form">
  <h3 class="form__header">Shipping Methods</h3>
  <div class="divider"></div>
  <div class="form__choice">
    <input type="radio" name="shipping-method" id="option-1">
    <label for="option-1">
      <span >$30.00</span>
      <span style="width: 65px" >Express</span>
      <span>(4 - 6) days delivery</span>
    </label>
  </div>
  <div class="divider"></div>
  <div class="form__choice">
    <input type="radio" name="shipping-method" id="option-2">
    <label for="option-2">
      <span >$50.00</span>
      <span style="width: 65px" >Air</span>
      <span>(6 - 8) days delivery</span>
    </label>
  </div>
  <div class="divider"></div>
  <div class="form__choice">
    <input type="radio" name="shipping-method" id="option-3">
    <label for="option-3">
      <span >$70.00</span>
      <span style="width: 65px"  >FCL</span>
      <span>(10 - 15) days delivery</span>
    </label>
  </div>
  <div class="divider"></div>
  <div class="submit-buttons">
    <button (click)="back.emit()" class="bt-primary back">
      <i class="material-icons-outlined">
        keyboard_backspace
      </i>
    </button>
    <button (click)="continue.emit()" class="bt-primary">
      Continue
    </button>
  </div>
</div>


