
<h2 class="main__header">Checkout</h2>
<div class="checkout">
  <div class="flex">
    <div class="form-steps">

      <div class="steps">
        <div [class.selected]="step == 1" class="step">01.<span class="step__title">CUSTOMER INFO</span></div>
        <div [class.selected]="step == 2" class="step">02.<span class="step__title">SHIPPING INFO</span></div>
        <div [class.selected]="step == 3" class="step">03.<span class="step__title">PAYMENT METHOD</span></div>
      </div>
      <app-checkout-step-one [customerInfo]="customerInfo" (continue)="continue()" *ngIf="step == 1"></app-checkout-step-one>
      <app-checkout-step-two (continue)="continue()" (back)="back()" *ngIf="step == 2"></app-checkout-step-two>
      <app-checkout-step-three (back)="back()" *ngIf="step == 3"></app-checkout-step-three>
    </div>
    <div class="order-summary">
      <p class="summary__title">Order Summary</p>
      <div *ngIf="!loadingCart">
        <details open=''>
          <summary>
            <p class="summary__items-number">{{cartItems.length}} Items in Cart</p>
            <i class="material-icons summary__icon">
              keyboard_arrow_down
            </i>
          </summary>

          <div *ngFor="let cartItem of cartItems" class="summary__item">
            <div class="summary__item__img">
              <img src="{{cartItem.product.images[0]}}" alt="mic">
            </div>
            <div class="summary__item__info">
              <a routerLink="/product/{{cartItem.product.shortCut}}" class="summary__item__title">{{cartItem.product.title}}</a>
              <p class="summary__item__amount">Qty: {{cartItem.quantity}}</p>
            </div>
            <div class="summary__item__price">
              <p>{{cartItem.product.price | currency}}</p>
            </div>
          </div>

        </details>
        <div class="summary__subtotal">
          <p>Cart Subtotal: <span>{{total | currency}}</span></p>
        </div>
        <div class="summary__shipping">
          <p>Shipping <span>$50.00</span></p>
          <span class="shipping-method">Flat Rate - Fixed</span>
        </div>
        <div class="summary__footer">
          <p>Order Total <span>{{total + 50 | currency}}</span></p>
        </div>
      </div>
      <div style="width: 100%; height: 400px; display: flex; align-items: center; justify-content: center" *ngIf="loadingCart">
        <app-spinner color="#000000"></app-spinner>
      </div>
    </div>
  </div>
</div>
