.path {
  margin-top: 35px;
  font-size: 14px;
}

.path__link {
  color: var(--text-primary);
  text-decoration: none;
  transition: color 0.3s ease 0s;
  line-height: 1.2;
}

.path__link:hover {
  color: var(--secondary);
}

.path__arrow {
  color: var(--secondary);
  margin: 0 0.5em;
}

.path__title {
  color: var(--secondary);
}

.item,
.details,
.related {
  margin: 2em 0;
}

.item-img {
  width: 100%;
}


.item__subimg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em 0;
  width: 90%;
}

.item-subimg {
  width: 70px;
  display: block;
  margin-right: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

.item-img-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  position: relative;
}

.item-img-holder:hover .next-img,
.item-img-holder:hover .prev-img {
  opacity: 1;
  cursor: pointer;
}

.item__img .next-img {
  display: flex;
  align-items: center;
  padding: 0 15px;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: 0.3s opacity;
}


.item__img .prev-img {
  display: flex;
  align-items: center;
  padding: 0 15px;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: 0.3s opacity;
}


.item-subimg.selected {
  border: 1px solid var(--secondary);
}


.item__title {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.021em;
  color: var(--text-primary);
}

.item__price {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary);
  margin: 1em 0;
}

.item__status {
  color: var(--text-secondary);
  font-size: 1rem;
  letter-spacing: 0.019em;
}

.item__status__value {
  color: var(--secondary);
}

.item__description {
  margin: 3em 1em;
}

.item__description__items {
  margin-bottom: 0.5em;
  color: var(--text-primary);
}

.item__sold-text {
  margin-bottom: 0.5em;
  font-size: 1.4rem;
}

.sold-amount {
  color: #137bb4;
}

.sold-wrapper {
  margin-bottom: 1em;
  position: relative;
}

.sold-gray {
  height: 10px;
  background: #3f3f3f26;
  width: 100%;
  border-radius: 8px;
}
.sold-orange {
  height: 10px;
  background: var(--secondary);
  width: 15.73%;
  border-radius: 8px;
  position: absolute;
  top: 0;
}

.qty-counter-wrapper {
  margin-top: 3em;
}

.qty-counter {
  display: flex;
  max-width: 180px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #3f3f3f36;
  padding: 0.6em 0.4em;
  border-radius: 5px;
  width: 40%;
}

.qty-counter__bt {
  background: transparent;
  border: 0;
  color: #3f3f3fb5;
  display: flex;
  align-items: center;
  transition: color 0.3s ease 0s;
  cursor: pointer;
}

.qty-counter__bt:hover {
  color: var(--text-primary);
}

.bt-primary {
  padding: 0.6em 3em;
  border: 0;
  border-radius: 2px;
  background: var(--secondary);
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  font-size: 17px;
  letter-spacing: 0.023em;
  font-weight: 400;
  width: 40%;
  min-width: 170px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}

.cta-wrapper {
  display: flex;
  margin-top: 2em;
}

.cta-bt {
  border: 1px solid #ebebeb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2d2d2d70;
  padding: 0.6em;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-right: 2em;
}

.cta-bt:hover {
  color: #fff;
  background: var(--secondary);
  border-color: var(--secondary);
}

.cta-bt .material-icons {
  font-size: 26px;
  margin-top: 1px;
}

.text-header {
  border-bottom: 4px solid var(--secondary);
  padding-bottom: 0.1em;
  font-size: 23px;
  font-weight: 500;
}

.details__text-wrapper {
  margin-top: 3em;
}

.details__subheader {
  margin: 1em 0;
  font-size: 19px;
  line-height: 1.3;
  letter-spacing: 0.021em;
}

.details__text {
  font-size: 16px;
}

@media (min-width: 400px) {
  .bt-primary {
    margin-top: 0;
  }

  .qty-counter-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 800px) {
  .main {
    margin-top: 14em;
  }
}

@media (min-width: 1100px) {
  .item {
    display: flex;
  }
  .item__img {
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
}


